@model blogtest.MvcApp.Models.PostViewModel
@{
    ViewData["Title"] = "Post Page";
}
<div class="container">

    <div class="row">
        @*<form action="/Comment/GetCommentList" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
                <input type="text" name="name" />
                <input type="submit" value="Поиск" />
            </form>
            <div id="results">fgdfgdfgd</div>*@
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Model.Post.NamePost</h1>



            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Model.Post.CreationDate.Date .</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">@Model.Post.Description?</p>
            <p>@Model.Post.Description.</p>
            <p>@Model.Post.Description !</p>

            <hr>

            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>


                <form role="form" action="/Comment/GetCommentList" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
                    <div class="form-group">
                        <input style="display:none" class="form-control" type="number" name="PostId" value=@Model.Post.Id />
                        <textarea class="form-control" name="TextComment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
            <hr>

            <!-- Posted Comments -->
            <!-- Comment -->
            <div id="results" class="media">
                @if(Model.Coments != null){ 
                    foreach (var item in Model.Coments.Reverse())
                    {
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                User: anonym
                                <small>datetome: @item.CreationDate pm.</small>
                            </h4>
                            @item.TextComment
                        </div>
                        <br/>
                        <br/>
                    }
                }
            </div>



        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <br />
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>



    </div>
    <!-- /.row -->

    <br />
    <br />

</div>
<!-- /.container -->
